body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 512px;
    height: 512px;
    display: grid; 
    gap: 1px; 
}

.container div {
    background-color: white;
    border: 1px solid #ccc;
}

button {
    margin: 20px 0;
}